.ac-black {
    background-color: black;
}

.ac-img {
    width: 80px;
}

.ac-takes-img {
    max-width: 250px;
}

.section-Jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    color: white;
}

.section-takes {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    color: white;

}

.section-new {
    background-color: hsl(0deg 0% 12%);
    color: white;
}

.section-plus {
    background-color: hsl(20deg 2% 74%);
}

.ac-button {
    background-color: orange;
    border-radius: 15px;
    border: 1px solid orange;
}

.ac-buttonblue {
    background-color: blue;
    border: 1x solid blue;
    border-radius: 15px;
    color: white;
}

.white {
    background-color: white;
}

.blue {
    color: blue;
}