body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.ac-black {
    background-color: black;
}

.gx-5 {
    column-gap: 10px;
}

.ac-none {
    list-style-type: none;
}

.ac-img {
    width: 80px;
}

.search {
    width: 25px;
}

.console {
    margin-top: 150px;
}

.ac-padding-img {
    padding-top: 50px;
}

.hover-scale:hover {
    position: relative;
    bottom: 15px;
}


.new-exit:hover {
    border: 2px solid blue;

}

#input-play .col-md a {
    text-decoration: none;
    color: #666;
}

#input-play .col-md a:hover {
    border-bottom: 1px solid blue;
    opacity: 0.6;
}

.ac-takes-img {
    max-width: 250px;
}

.section-Jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    color: white;
    margin-top: 100px;
}

.returnal {
    width: 200px;
}

.section-takes {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    color: white;

}

.section-new {
    background-color: hsl(0deg 0% 12%);
    color: white;
}

.section-plus {
    background-color: hsl(20deg 2% 74%);
}

.section-now {
    background-color: hsl(230deg 46% 16%);
    color: white;
}

footer {
    background-color: hsl(214deg 100% 31%);
    color: white;
}

.footer-world {
    width: 30px;
}

.ac-button {
    background-color: orange;
    border-radius: 15px;
    border: 1px solid orange;
}

.ac-buttonblue {
    background-color: blue;
    border: 1x solid blue;
    border-radius: 15px;
    color: white;
}

.dark-button {
    background-color: hsl(0deg 0% 21%);
}

.white {
    background-color: white;
}

.blue {
    color: blue;
}

.black {
    color: black;
}

.dropdown-menu.show {
    display: flex;
}