.ac-black {
    background-color: black;
}

.ac-img {
    width: 80px;
}

.section-Jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    color: white;
}

.ac-button {
    background-color: orange;
    border-radius: 15px;
    border: 1px solid orange;
}

.ac-buttonblue {
    background-color: blue;
    border: 1x solid blue;
    border-radius: 15px;
    color: white;
}